@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing:border-box;
  font-family:'Nunito Sans', sans-serif;
}
h1{
  font-size:50px;
  line-height: 64px;
  color: #222;
}
h2{
  font-size: 46px;
  line-height: 54px;
  color: #222;
}
h4{
  font-size: 20px;
  color: #222;
}
h6{
  font-weight: 700;
  font-size: 12px;
}
p{
  font-size: 16px;
  color: #475b52;
  margin:15px 0 20px 0;
}
.section-p1{
  padding: 40px 80px;
}
button.normal{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}
.section-m1{
  margin: 40px 0;
}
body{
  width: 100%;
}
/* Header start */
.logo{
  color: #000;
  font-weight:lighter;
  font-size: 50px;
  text-decoration: none;
}
#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.06);
  background-color: #EEF1FF;
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}
#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a{
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
  color: #000;
  transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
  color: #8758FF;
}
#navbar li a.active::after
#navbar li a.active::after{
  content: "";
  width: 30%;
  height: 2px;
  background: #8758FF;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
#mobile{
  display: none;
  align-items: center;
}
#close{
  display: none;
}
/* home page */
#hero{
  background-image: url(images/hero1.jpg) ;
  background-size: cover;
  box-shadow: 0 5px 15px rgba(0,0,0,0.06);
  height: 100vh;
  width: 100%;
  padding: 0 80px;
  display:flex;
  flex-direction:column;
  align-items: flex-start;
  justify-content: center;
}
#hero h4{
  padding-bottom: 15px;
}
#hero h1{
  color:#8758FF;
}
#hero button{
  background-color: transparent;
  background-size: cover;
  color: #000;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: lighter;
  font-size: 25px;
}
#hero button:hover{
  color: #fff;
  background-color: #000;
}
#product1{
  text-align: center;
  padding-top: 20px;
}
.pro-container{
  padding: 50px;
}
.pro-container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
.pro{
  width: 23%;
  min-width: 250px;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
  margin: 15px 0;
  padding: 10px 12px;
  transition: 0.02s ease;
  position:relative;
}
.pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.09);
}
.pro img {
  width: 100%;
  border-radius: 2px;
}
.pro .des{
  text-align: start;
  padding: 10px 0px;
}
.pro .des span{
  color:#000;
  font-size: 12px;
}
.pro .des h5{
  padding-top: 8px;
  color: #000;
  font-size: 14px;
}
.pro .des i{
  font-size: 12px;
  color: #000;
}
.pro .des h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight: lighter;
  color:#8758FF;
}
.pro.cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #fff;
  font-weight: 500;
  color:#8758FF;
  border: 1px solid #fff;
  position: absolute;
  bottom:20px;
  right: 10p;
}
#banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("images/b1.jpeg");
  width: 100%;
  height: 40vh;
  background-position: center;
  background-size: cover;
}
#banner h4{
  color: #fff;
  font-size: 30px;
  font-weight: lighter;
}
#banner h2{
  color: #fff;
  font-size: 50px;
  font-weight: lighter;
  padding: 10px 0;
}
#banner h2 span{
  color: red;
  font-size: 30px;
  font-weight: lighter;
}
#banner button:hover{
  background: #8758FF;
  color: #fff;
}
#sm-banner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #000;
}
#sm-banner .banner-box{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-image: url("images/b2.jpeg");
  min-width: 580px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}
#sm-banner .banner-box2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-image: url("images/b5.jpeg");
  min-width: 580px;
  height: 50vh;
  background-size: cover;
  color: #fff;
  background-position: center;
  padding: 30px;
}
#banner3 {
  background-color: #000;
}
#banner3 .banner-box3{
  display: flex;
  color: #fff;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-image: url("images/b4.jpeg");
  min-width: 580px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}
.banner-box3 h4{
  font-size: 40px;
  color: #fff;
  font-weight: bold;
}
.banner-box3 h2{
  font-size: 60px;
  font-weight: lighter;
  color: #fff;
}
.banner-box3 span{
  font-size: 30px;
  font-weight: lighter;
  color: red;
}
#sm-banner h4{
  color: #fff;
  font-size: 20x;
  font-weight: 300;
}
#sm-banner h2{
  color: #fff;
  font-size: 30x;
  font-weight: lighter;
}
#sm-banner span{
  color:#8758FF ;
  font-size: 10x;
  font-weight: lighter;
}
#sm-banner button{
  background-color: transparent;
  background-size: cover;
  color: #000;
  padding: 10px ;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: lighter;
  font-size: 25px;
}
#sm-banner button:hover{
  color: #fff;
  background-color: #000;
}
#sm-banner .banner-box:hover{
  box-shadow: 30px 30px 40px rgba(0,0,0,0.09);
  transform: translatey(10px);
  background: linear-gradient(to bottom, rgba(0,176,155,0.5))
}
#sm-banner .banner-box2:hover{
  box-shadow: 30px 30px 40px rgba(0,0,0,0.09);
  transform: translatey(10px);
  background: linear-gradient(to bottom, rgba(0,176,155,0.5))
}
.banner-box3:hover{
  box-shadow: 30px 30px 40px rgba(0,0,0,0.09);
  transform: translatey(10px);
  background: linear-gradient(to bottom, rgba(0,176,155,0.5))
}
#newsletter{
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
  align-items: center;
  color: #fff;
  background-color: #000;
}
#newsletter h4{
  font-size: 35px;
  font-weight: lighter;
  color: #fff;
}
#newsletter p{
  font-size: 20px;
  font-weight: lighter;
  color: #fff;
}
#newsletter span{
  color: red;
}
#newsletter .form{
  display: flex;
  width: 50%;

}
#newsletter input{
  height: 3.125rem;
  padding: 0 1.25rem;
  font-size: 15px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 2px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#newsletter button{
  background-color: #088178;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
footer{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .col{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
footer h4{
  font-size: 15px;
  padding-bottom: 20px;
}
footer p{
  font-size: 14px;
  margin: 0 0 8px 0 ;
}
footer a{
  font-size: 14px;
  text-decoration:none;
  color: #000;
  margin-bottom: 10px;
}
footer .follow{
  margin-top: 20px;
}
footer .follow i{
  color: #000;
  padding-right: 4px;
  cursor: pointer;
}
footer .install .row .normal{
border: 1px solid #000;
border-radius: 4px;

}
footer .install .row .normal:hover{
  color: #fff;
  background-color: #000;
}
footer a:hover{
text-decoration: underline;
font-weight: bolder;
}
.copyright{
  font-size: 4px;
  align-items: center;
  text-align: center;
  font-weight: lighter;
}
@media (max-width:799px) {
  #navbar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #EEF1FF;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }
  #navbar.active{
    right:0;
  }
  #navbar li{
    margin-bottom: 25px;
  }
  #mobile{
    display: flex;
   align-items: center;
  }
  #mobile i{
      color: #000;
      display:flex;
      font-size: 24px;
      padding-left: 20px;
    }
    #close{
      position: absolute;
      top: 20px;
      display: initial;
      left: 30px;
      color: #000;
      font-size: 24px;
    }
    #hero{
      height: 70vh;
      padding: 0 80px;
      background-position: top 30% right 30%;
    }
    .pro-container{
      justify-content: center;
    }
    .pro{
      margin: 15px;
    }
    #banner{
      height: 20vh;
    }
    #sm-banner .banner-box{
      min-width: 100%;
      height: 30vh;
    }
    #newsletter .form{
      width: 70%;
    }
}
@media (max-width:477px) {
  .section-p1{
    padding: 20px;
  }
  #header{
    padding: 10px 30px;
  }
  h1{
    font-size: 38px;
  }
  h2{
    font-size: 30px;
  }
  #hero{
    padding: 0 20px;
    background-position: 55%;
  }
  .pro{
    width: 100%;
  }
  #banner{
    height: 40vh;
  }
  #sm-banner .banner-box{
    height: 40vh;
  }
  .banner-box2{
    margin-top: 20px;
    height: 40vh;
  }
  #banner3 .secetion-p1{
    padding: 0 20px;
    height: 40vh;
  }
  #banner .banner-box{
    width: 100%;
  }
  #newsletter{
    padding: 40px 20px;
  }
  .copyright{
    text-align:start;
  }
}
